// Typeface Variables

$monospace: "Courier 10 Pitch", Courier, monospace;
$code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", $monospace;

$serif-fallback: Georgia, "Times New Roman", Times, serif;
$serif: Merriweather, $serif-fallback;

$sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

%content-font {
	font-family: $serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: darken( $gray, 30 );
}


// NOTE:
// If there are exceptions to these stacks,
// please mark them with a //typography-exception comment
// so we can easily search for them later.
